/* core styles */
body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}



/* Main header styles */

.mainheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;

}

.logotip {
    display: inline-block;
    vertical-align: middle;
}

.logotip img {
    width: 64px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
    /* 10 / 16= 0.625rem */
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    /* 12 / 16= 0.75rem */
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}

/* Footer section styles */
.footer {
    padding: 50px 0;
    background-color: #021017;
}

.footer__brand-image {
    width: 128px;
}


@media only screen and (max-width:991px) {
    .main-navigation {
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .main-navigation__image {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .main-navigation {
        display: none;
        /* Hide navigation on medium screens */
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .mainheader {
        position: relative;
    }

    .main-navigation {
        display: none;
    }

    .footer {
        text-align: center;
    }

    .footer__navigation {
        display: block;
    }
}